:root {
    --white: #fff;
    --black: #000000;
    --bg: #383838;
    --brown: #dddddd;
    --filter: #eeeeee; 
    --first: rgb(88, 185, 50);
    --second: rgb(6, 80, 241);
    --hover-first: rgb(112, 252, 57);
    --hover-second: rgb(67, 122, 243);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navbar */
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--brown);
    padding: 15px 12%;
    transition: all .50s ease;
}
/* Left Nav */
.logo{
    display: flex;
    align-items: center;
    transition: all .50s ease;
}
.logo i{
    color: var(--hover-second);
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color: var(--black);
    font-size: 1.7rem;
    font-weight: 600;
}
/* Center Nav */
.navbar{
    display: flex;
}
.navbar a{
    color: var(--black);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 5px 0;
    margin: 0 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: var(--hover-second);
}
.navbar a.active{
    color: var(--hover-second);
}
/* Right Nav */
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--black);
    font-size: 1.1rem;
    font-weight: 600;
    transition: all.50s ease;
}
.user {
    display: flex;
    align-items: center;
}
.user i{
    color: var(--hover-second);
    font-size: 28px;
    margin-right: 7px;
}
.main a:hover{
    color: var(--hover-second);
}
/* Toggle */
#menu-icon{
    font-size: 35px;
    color: var(--black);
    cursor: pointer;
    z-index: 10001;
    display: none;
}
/* Reponsive */
@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 200px;
        background: var(--brown);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color: var(--hover-second);
        transform: translateX(10px);
    }
    .navbar a.active{
        color: var(--hover-second);
    }
    .navbar.open{
        right: 2%;
        transition: all .5s ease;
    }
}
@media (max-width: 440px){
    .main a{
        font-size: 0.9rem;
        font-weight: 600;
        margin-right: 20px;
        margin-left: 5px;
    }
}
@media (max-width: 390px){
    .logo span{
        font-size: 1.3rem;
    }
    .main a{
        font-size: 0.8rem;
        font-weight: 500;
        margin-right: 15px;
        margin-left: 5px;
    }
}

/* Form */
.container{
    top: 4rem;
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: var(--white);
    border: 2px solid var(--brown);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container h3{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container h3::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input[type="file"]{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form .submit, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form .submit:hover{
    background-color: #265df2;
}
form .submit i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}
.next{
    border-radius: 10px;
    float: right;
    background: var(--hover-second);
    color: var(--white);
    padding: 5px;
    font-weight: 600;
    transition: all .5s ease;
}
.next:hover{
    background: var(--second);
}
/* Footer */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background: transparent;
  font-family: "Open Sans";
  padding-top: 40px;
  color: var(--black);
}

.footer-bottom {
  background: var(--brown);
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}


#riwayat{
    border: 0;
    color: white;
    width: 100%;
}
#riwayat th,
#riwayat td{
    background: darkcyan;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
#riwayat td a{
    color: white;
}
#riwayat td a:hover{
    color: darkgrey;
}

.not-complited{
    background: darkcyan;
    border-radius: 7px;
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.not-complited p{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.not-complited p a{
    text-decoration: none;
    color: darkcyan;
    background: white;
    border-radius: 5px;
    padding: 5px;
}
.not-complited p a:hover{
    background: lightcyan;
}
input[type="text"]:read-only {
    background-color: lightgray;
}
input[type="email"]:read-only {
    background-color: lightgray;
}